body{
    margin: 0px 0px 0px 0px;
}
.logo{
    color: hsla(40, 94%, 56%, 1);
    font-size: 32px;
    display: flex;
    
}
.prand-name{
    margin: -15px;
    margin-left: 5px;
}
.intro-banar{
    background-color: hsla(33, 100%, 50%, 1);
    display: flex;
    margin-bottom: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 364px;
}
.intro-text{
    background-image: url(icons.png);
    color: white;
    width: 30%;
    font-size: 40px;
}
.intro-img{
    position: absolute;
    left: 0px;
}
.prodacts-add{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: hsla(0, 0%, 0%, 0.75);
}
#products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.product-detiels{
 position: relative;
    width: 20%;
    height: auto;
    
    padding: 2%;
    border-radius: 2px;
    
    
}
.descrption{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.title{
    text-decoration: none;
      color: hsla(0, 0%, 0%, 0.75);
    font-size: 14px;
    width: 70%;
}

.price{
    color: hsla(0, 0%, 0%, 0.75);
    font-size: 16px;
    text-align: right;
}
.desc{
    font-size: 14px;
    color: hsla(0, 0%, 0%, 0.5);
}
.heart {
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 24px;
    
       /* افتراضي أسود */
    cursor: pointer;
    transition: color 0.3s;
}
.heart.red {
    color: red;     /* لما يتضغط */
}

.prodect-img{
    width: 100%;
    background-color: rgba(250, 245, 245, 0.877);
    border-radius: 20pء;
}
.button-inf{
    display: flex;
    justify-content: center;

}
.bu{
    color: hsla(343, 92%, 54%, 1);
    font-size: 20px;
    padding: 5px 10px;
    background-color: aliceblue;
    border: none;
}